.chatContainer {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

/* Room and users component */
.roomAndUsersColumn {
  border-right: 1px solid #dfdfdf;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.usrs-cont {
  background-image: url(../home/img/bg.svg);
  transform-style: preserve-3d;
  padding: 2vh;
  border-radius: 10px;
  margin-right: 3vh;
}

.roomTitle {
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}
.usersTitle {
  font-size: 1.2rem;
  color: #fff;
  transform: translateZ(5px);
  text-align: center;
}
.usersList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 60px;
  color: rgb(153, 217, 234);
  transform: translateZ(5px);
}
.usersList li {
  margin-bottom: 12px;
}

.usersList li:hover {
  color: white;
  transition-duration: .5s;
}

/* Messages */
.messagesColumn {
  height: 85vh;
  overflow: auto;
  padding: 0;
  max-width: 93vh;
}
.message {
  background: rgb(63, 73, 204);
  border-radius: 6px;
  margin-bottom: 24px;
  max-width: 55vh;
  padding: 12px;
}

.owner {
  margin-left: 34vh;
}

.msgMeta {
  color: rgb(153, 217, 234);
  font-size: 0.75rem;
}
.msgText {
  color: #fff;
  margin: 1.7vh 0;
  word-wrap: break-word;
}

.editMSG {
  all: unset;
  color: #fff;
  margin: 1.7vh 0 3.6vh 0;
  background-color: rgb(63, 73, 204);
}

/* Message input and button */
.sendMessageContainer {
  padding: 2vh 2vh 2vh 0vh;
  display: flex;
}
.messageInput {
  margin-right: 16px;
  width: 60%;
  height: 7vh !important;
  border-radius: 6px;
  border: 1px solid rgb(63, 73, 204);
  font-size: 0.9rem;
}

.btn-primary {
  background: rgb(63, 73, 204);
  color: rgb(153, 217, 234);
}

.btn-primary:hover {
  transition-duration: .2s;
  color: rgb(63, 73, 204);
  background: rgb(153, 217, 234);
}

.edit {
  color: rgb(153, 217, 234);
  margin-left: 97%;
  width: 0;
  height: 0;
  top: -2.5vh;
  text-align: right;
  position: relative;
}


.edit span:hover {
  color: white;
  transition-duration: .5s;
}


/* LEAVE BUTTON */

.btn-leave-outl {
  color: #ffff;
  width: 20vh;
  background: rgb(63, 73, 204);
  transform: translateZ(10px);
}

.btn-leave-outl:hover {
  color: rgb(63, 73, 204);
  background: rgb(255, 255, 255);
  transition-duration: .7s;
}
